Repository Leagify/prospect-scraper-mddb-2022, pull requests merged in 2023-10, with the labels that each got.

#68 Updated merges and new ranks for October 1
  ranks/2024/2024BoardInfo.csv
  ranks/2024/2024SchoolInfo.csv
  ranks/2024/2024ranks.csv
  ranks/2024/players/2023-10-01-ranks.csv
  ranks/2024/schools/2023-10-01-top-schools.csv
  ranks/2024/states/2023-10-01-top-states.csv
Labels: hacktoberfest, hacktoberfest-accepted

#70 Adds 10-2 ranks
  ranks/2024/2024BoardInfo.csv
  ranks/2024/2024SchoolInfo.csv
  ranks/2024/2024ranks.csv
  ranks/2024/players/2023-10-02-ranks.csv
  ranks/2024/schools/2023-10-02-top-schools.csv
  ranks/2024/states/2023-10-02-top-states.csv
Labels: hacktoberfest, ranks, hacktoberfest-accepted

#71 10-4 and 10-7 ranks
  ranks/2024/2024BoardInfo.csv
  ranks/2024/2024SchoolInfo.csv
  ranks/2024/2024ranks.csv
  ranks/2024/players/2023-10-04-ranks.csv
  ranks/2024/players/2023-10-07-ranks.csv
  ranks/2024/schools/2023-10-04-top-schools.csv
  ranks/2024/schools/2023-10-07-top-schools.csv
  ranks/2024/states/2023-10-04-top-states.csv
  ranks/2024/states/2023-10-07-top-states.csv
Labels: hacktoberfest, ranks, hacktoberfest-accepted

#72 Adds 10-9 ranks
  ranks/2024/2024BoardInfo.csv
  ranks/2024/2024SchoolInfo.csv
  ranks/2024/2024ranks.csv
  ranks/2024/players/2023-10-09-ranks.csv
  ranks/2024/schools/2023-10-09-top-schools.csv
  ranks/2024/states/2023-10-09-top-states.csv
Labels: hacktoberfest, ranks, hacktoberfest-accepted

#73 Adds 10-11 ranks
  ranks/2024/2024BoardInfo.csv
  ranks/2024/2024SchoolInfo.csv
  ranks/2024/2024ranks.csv
  ranks/2024/players/2023-10-11-ranks.csv
  ranks/2024/schools/2023-10-11-top-schools.csv
  ranks/2024/states/2023-10-11-top-states.csv
Labels: hacktoberfest, ranks, hacktoberfest-accepted

#74 Adds 10-13 ranks
  ranks/2024/2024BoardInfo.csv
  ranks/2024/2024SchoolInfo.csv
  ranks/2024/2024ranks.csv
  ranks/2024/players/2023-10-13-ranks.csv
  ranks/2024/schools/2023-10-13-top-schools.csv
  ranks/2024/states/2023-10-13-top-states.csv
Labels: hacktoberfest, ranks, hacktoberfest-accepted

#75 Update dot net variant - PR for issue #69
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
Labels: enhancement, hacktoberfest, hacktoberfest-accepted

#76 Small devcontainer updates
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
  .github/workflows/dotnet5.yml
  prospect-scraper-mddb-2022.csproj
  prospect-scraper-mddb-2022.sln
  ranks/2024/2024BoardInfo.csv
  ranks/2024/2024SchoolInfo.csv
  ranks/2024/2024ranks.csv
  ranks/2024/players/2023-10-15-ranks.csv
  ranks/2024/players/2023-10-16-ranks.csv
  ranks/2024/schools/2023-10-15-top-schools.csv
  ranks/2024/schools/2023-10-16-top-schools.csv
  ranks/2024/states/2023-10-15-top-states.csv
  ranks/2024/states/2023-10-16-top-states.csv
Labels: enhancement, hacktoberfest, ranks, hacktoberfest-accepted

#77 Updates name of github action
  .github/workflows/dotnet5.yml
Labels: hacktoberfest, hacktoberfest-accepted

#78 Adds 10-19
  ranks/2024/2024BoardInfo.csv
  ranks/2024/2024SchoolInfo.csv
  ranks/2024/2024ranks.csv
  ranks/2024/players/2023-10-19-ranks.csv
  ranks/2024/schools/2023-10-19-top-schools.csv
  ranks/2024/states/2023-10-19-top-states.csv
Labels: hacktoberfest, ranks, hacktoberfest-accepted

#79 Adds 10-22 ranks
  ranks/2024/2024BoardInfo.csv
  ranks/2024/2024SchoolInfo.csv
  ranks/2024/2024ranks.csv
  ranks/2024/players/2023-10-22-ranks.csv
  ranks/2024/schools/2023-10-22-top-schools.csv
  ranks/2024/states/2023-10-22-top-states.csv
Labels: hacktoberfest, ranks, hacktoberfest-accepted

#80 Adds 10-25 ranks
  ranks/2024/2024BoardInfo.csv
  ranks/2024/2024SchoolInfo.csv
  ranks/2024/2024ranks.csv
  ranks/2024/players/2023-10-25-ranks.csv
  ranks/2024/schools/2023-10-25-top-schools.csv
  ranks/2024/states/2023-10-25-top-states.csv
Labels: hacktoberfest, ranks, hacktoberfest-accepted

#81 Adds 10-30 ranks
  ranks/2024/2024BoardInfo.csv
  ranks/2024/2024SchoolInfo.csv
  ranks/2024/2024ranks.csv
  ranks/2024/players/2023-10-30-ranks.csv
  ranks/2024/schools/2023-10-30-top-schools.csv
  ranks/2024/states/2023-10-30-top-states.csv
Labels: hacktoberfest, ranks, hacktoberfest-accepted
