Repository Leagify/prospect-scraper-mddb-2022, pull requests merged in 2024-10, with the labels that each got.

#85 Adds ranks for 10-1 and 10-2.
  ranks/2025/2025BoardInfo.csv
  ranks/2025/2025SchoolInfo.csv
  ranks/2025/2025ranks.csv
  ranks/2025/players/2024-10-01-ranks.csv
  ranks/2025/players/2024-10-02-ranks.csv
  ranks/2025/schools/2024-10-01-top-schools.csv
  ranks/2025/schools/2024-10-02-top-schools.csv
  ranks/2025/states/2024-10-01-top-states.csv
  ranks/2025/states/2024-10-02-top-states.csv
Labels: hacktoberfest, ranks, hacktoberfest-accepted

#89 Adds first ranks after fixing conference alignment
  ranks/2025/2025BoardInfo.csv
  ranks/2025/2025SchoolInfo.csv
  ranks/2025/2025ranks.csv
  ranks/2025/players/2024-10-09-ranks.csv
  ranks/2025/schools/2024-10-09-top-schools.csv
  ranks/2025/states/2024-10-09-top-states.csv
Labels: hacktoberfest, ranks, hacktoberfest-accepted

#90 Update .NET version in Dockerfile, devcontainer.json, GitHub Actions …
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
  .github/workflows/dotnet5.yml
  prospect-scraper-mddb-2022.csproj
Labels: hacktoberfest, hacktoberfest-accepted

#91 Adds 10-11 ranks
  ranks/2025/2025BoardInfo.csv
  ranks/2025/2025SchoolInfo.csv
  ranks/2025/2025ranks.csv
  ranks/2025/players/2024-10-11-ranks.csv
  ranks/2025/schools/2024-10-11-top-schools.csv
  ranks/2025/states/2024-10-11-top-states.csv
Labels: hacktoberfest, ranks, hacktoberfest-accepted

#93 Fixes broken codespace devcontainer.json config
  .devcontainer/devcontainer.json
  ranks/2025/2025BoardInfo.csv
  ranks/2025/2025SchoolInfo.csv
  ranks/2025/2025ranks.csv
  ranks/2025/players/2024-10-18-ranks.csv
  ranks/2025/schools/2024-10-18-top-schools.csv
  ranks/2025/states/2024-10-18-top-states.csv
Labels: bug, hacktoberfest, ranks

#94 Adds 10-20 ranks
  ranks/2025/2025BoardInfo.csv
  ranks/2025/2025SchoolInfo.csv
  ranks/2025/2025ranks.csv
  ranks/2025/players/2024-10-20-ranks.csv
  ranks/2025/schools/2024-10-20-top-schools.csv
  ranks/2025/states/2024-10-20-top-states.csv
Labels: hacktoberfest, ranks, hacktoberfest-accepted

#95 Adds 10-24 ranks
  ranks/2025/2025BoardInfo.csv
  ranks/2025/2025SchoolInfo.csv
  ranks/2025/2025ranks.csv
  ranks/2025/players/2024-10-24-ranks.csv
  ranks/2025/schools/2024-10-24-top-schools.csv
  ranks/2025/states/2024-10-24-top-states.csv
Labels: hacktoberfest, ranks, hacktoberfest-accepted

#96 Adds 10-27 and 10-28
  ranks/2025/2025BoardInfo.csv
  ranks/2025/2025SchoolInfo.csv
  ranks/2025/2025ranks.csv
  ranks/2025/players/2024-10-27-ranks.csv
  ranks/2025/players/2024-10-28-ranks.csv
  ranks/2025/schools/2024-10-27-top-schools.csv
  ranks/2025/schools/2024-10-28-top-schools.csv
  ranks/2025/states/2024-10-27-top-states.csv
  ranks/2025/states/2024-10-28-top-states.csv
Labels: hacktoberfest, ranks
